html {
    font-family: Arial;
}

body {
    margin: 0;
}

.body {
    margin: 0 auto;
    background-color: #edf2c5;
    padding: 0 160px;
    width: 940px;
    height: 880px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    margin-bottom: 5px;
    width: 940px;
    height: 62px;
}

.mainheader {
    display: flex;
    align-items: center;
    width: 271px;
    height: 62px;
    margin: 0;
    font-size: 44px;
    font-weight: 900;
    line-height: 36px;
    color: #778a50;
}

.rightheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 25px;
    margin-top: 24px;
}

.logo{
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 60px;
}

.aline {
    margin: 0;
    color: #7d7d7d;
    border: 0.5px solid;
    height: 24px;
}

.righttext {
    font-size: 14px;
    font-weight: bold;
    color: #778a50;
    padding: 3.5px 7px;
    border: 1px solid #778a50;
    border-radius: 3px;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    width: 940px;
    height: 44px;
    padding: 0;
    margin: 0 0 20px;
    background-color: #778a50;
    border-radius: 3px;
}

.textdecoration {
    color: #edf2c5;
    text-decoration: none;
}

li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    padding: 0 30px 0 ;
}

.aside{ 
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.lefttopic {
    display: flex;
    align-items: center;
    width: 414px;
    height: 45px;
    margin: 0 0 15px;
    background-color: #778a50;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
    padding: 0 0 0 30px;
}

.img {
    display: flex;
    justify-content: space-between;
    width: 444px;
    height: 140px;
}

.righttopic {
    display: flex;
    align-items: center;
    width: 414px;
    height: 45px;
    margin: 0 0 15px;
    background-color: #778a50;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
    padding: 0 0 0 30px;
}

.textbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 414px;
    height: 140px;
    padding: 0 15px;
    background-color: #f7fbda;
}

.help{
    margin: 15px 0;
    font-size: 12px;
    line-height: 1.25;
    color: #7d7d7d;
}

.bline {
    margin: 0;
    color: #7d7d7d;
    border: 0.5px solid;
}

.contact{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 12px;
    height: 35px;
    line-height: 1.75;
    color: #7d7d7d;
}

footer{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    
}

.footertext{
    font-size: 12px;
    line-height: 3;
    color: #edf2c5;
}